<div class="container">
  <div class="container-inner inner-default clearfix">
    <% @items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
             <%= image_tag(item['mediumImageUrls'], alt: item['itemName']) %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <% #TODO 商品タイトル %>
            <%= item['itemName'] %>
          </p>
        </div>
        <div class="action clearfix">
        
        </div>
      </div>
    <% end %>
  </div>
</div>
